NODE_ENV=development

PORT=3000

APP_NAME=Medical AI
APP_TIMEZONE=America/Mexico_City

MONGO_URI=mongodb://localhost:27017/medical_ai

JWT_SECRET=medical_ai_secret

JWT_EXPIRES=1d

LANGGRAPH_URL=http://localhost:8000

# Logs HTTP de depuración
LOG_HTTP_REQUEST_BODY=false
LOG_HTTP_RESPONSE_BODY=false
LOG_HTTP_MAX_BODY_LENGTH=4000
